# Environment variables for deployment

# General settings
REGION=us-east-1

# S3 Bucket settings
BUCKET_NAME=spark-flight-analysis
DATA_FOLDER_NAME=data
DEPLOY_FOLDER_NAME=deploy
RAW_FOLDER_NAME=raw
CONV_FOLDER_NAME=conv
RES_FOLDER_NAME=res

# SSH Key Configuration
SSH_KEY_NAME=spark-cluster-key
SSH_KEY_DIR=..\keys

# Network Configuration
VPC_NAME=Flight-Analysis-VPC
SUBNET_NAME=Flight-Analysis-Subnet
VPC_CIDR=10.0.0.0/16
SUBNET_CIDR=10.0.1.0/24
SG_NAME=Flight-Analysis-SG
PRIVATE_DOMAIN_NAME=flight-analysis.local

# Spark Cluster Configuration
SPARK_CLUSTER_NAME=SparkFlightCluster
SPARK_CORE_COUNT=3

# EC2 Instance Configuration
WORKER_COUNT=3